.metadata
.cproject
.mxproject
.project
.settings/
Core/Inc/stm32f4xx_hal_conf.h
Core/Inc/stm32f4xx_it.h
Core/Src/stm32f4xx_hal_msp.c
Core/Src/stm32f4xx_it.c
Core/Src/syscalls.c
Core/Src/sysmem.c
Core/Src/system_stm32f4xx.c
Core/Startup/
Debug/
Drivers/
Middlewares/
STM32F407VGTX_FLASH.ld
STM32F407VGTX_RAM.ld
USB_HOST/
test1 Debug.launch
